:host {
    display: block;
    width: 100%;
}

.biu-rounded-button {
    color: white;
    margin: 0px;
    box-shadow: none;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #78cde6 !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    &__label {
        font-size: 16px;
        line-height: 1;
        text-align: center;
        color: white;
        margin: 0 4px;
        font-size: 16px;
    }
    &__icon {
      margin: 0 4px;
    }
    &:hover >  &__highlight,
    &:active >  &__highlight{
      opacity: 1;
    }

    &__highlight {
        opacity: 0;
        background-color: rgba($color: #000000, $alpha: 0.1);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        transition: 0.5s all ease;
    }

}