:host {
  display: block;
  width: max-content;
}

.biu-calendar {
  position: relative;
  transition: all 0.3s ease;
  z-index: 1000;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;

  &__icon {
    margin: 0 8px;
  }

  &__label {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    color: #003535;
    display: inline;
    position: relative;
    margin: 0;

  }

  &__label-highlight {
    height: 2px;
    background: #78cde6;
    transition: all 0.3s ease;
    position: absolute;

    &--active {
      width: 100%;
    }

    &--inactive {
      width: 0;
    }
  }


  &__panel {
    position: absolute;
    padding: 18px 20px;
    border: solid 1px #707070;
    background-color: #ffffff;
    min-width: 399px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    z-index: 1000;
  }

  &__panel-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  &__panel-header-label {
    font-weight: bolder;
    margin: 0;
    color: #003535;
    font-size: 24px;
  }

  &__dates {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    margin-top: 24px;
    justify-content: center;
  }

  &__dates-2 {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    justify-content: center;
    border: solid 0.5px #d0d0d0;
    width: max-content;
  }

  &__date {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #d0d0d0;
    border-right: solid 1px #d0d0d0;
    color: #003535;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__date-text {
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: solid 0.1px #d0d0d0;
    text-align: center;
  }

  &__date-header {
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
}

.isBetween {
  background: rgba($color:#78cde6, $alpha:0.5);
  color: #003535;
}

.selected {
  background: #78cde6;
  color: #003535;
  opacity: 1;

  &--start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &--end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

}
